<!DOCTYPE html>
<html>
  <head>
    <title>YADMGUI - Containers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script>

      function createInstanceHandler(type){
        fetch("/containers/create",{
          headers: { 'Content-Type': 'application/json' },
          method:"POST",
          body: JSON.stringify({type:type})
        }).then(response =>{
          console.log(response);
        })
      }
      function runAllHandler(){
        fetch("/containers/runAll",{
          method:"PUT",
        }).then(response =>{
          location.reload();
          console.log(response);
        })
      }

      function stopAllHandler(){
        fetch("/containers/stopAll",{
          method:"PUT",
        }).then(response =>{
          location.reload();
          console.log(response);
        })
      }
    </script>
  </head>

  <%- include('partials/header'); %>

  <body>
    <div class ="flex flex-row flex-wrap justify-center gap-8 mt-4">
      <button onclick="runAllHandler()" type="button" class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out">Run all</button>
      <button onclick="stopAllHandler()" type="button" class="inline-block px-6 py-2.5 bg-orange-500 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-orange-600 hover:shadow-lg focus:bg-orange-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-orange-700 active:shadow-lg transition duration-150 ease-in-out">Stop all</button>
    </div>
    <div class="flex flex-row flex-wrap justify-center gap-8 mt-4">
      <% for(let i = 0 ; i < containers.length;i++ ) {%>
        <%- include('partials/containerCard',{container: containers[i]}); %>
      <%}%>
    </div>
    
</html>
