<!DOCTYPE html>
<html>
  <head>
    <title>AHAHHA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <%- include('partials/header'); %>

  <body>
    <div class="flex flex-row flex-wrap justify-center gap-8 mt-4">
      <% for(let i = 0 ; i < containers.length;i++ ) {%>
        <%- include('partials/containerCard',{container: containers[i]}); %>
      <%}%>
    </div>
    
</html>
