<!DOCTYPE html>
<html>
  <head>
    <title>YADMGUI - Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('partials/header'); %>
  <body class="overflow-hidden">
      <div class=" w-full flex flex-col items-center gap-3">
        <h1 class="text-8xl font-reospec mt-16">Welcome to YADMGUI</h1>
        <h2 class="text-6xl font-reospec">Yet Another Docker Management GUI</h2>
      </div>
   
    
  </body>
</html>
