<!DOCTYPE html>
<html>
	<head>
		<title>Express Server</title>
		<style> html * {font-family: Open Sans;}</style>
		
	</head>
	<body style="text-align: center">
		<h1 id="ip" style="color: green"> Dynamic server : <%= Object.values(ip)[0] %></h1>
	    <h3 id="joke">  
	        <%= joke %> 
	    </h3>
		<img id="gif" src='<%= gif %>'></img>
		<script>
			setInterval(function () {
				fetch('http://localhost/api/fetch').then( (response) => {
					response.json().then( (data) => {
						document.getElementById('ip').innerText = 'Dynamic server : ' + Object.values(data.ips)[0]
						document.getElementById('joke').innerText = data.joke.value
						document.getElementById('gif').src = data.gifUrl
					})
				}).catch(error => console.log(error))
			}, 5000);
		</script>
	</body>
</html>