<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <style>
      html * {
        font-family: Open Sans;
      }
    </style>
	<script type="text/javascript" src=fetch.js></script>
</head>
<body style="text-align: center">
	<h1 style="color: green"> Static server : <%= Object.values(ip)[0] %></h1>
    <h3>  
        <%= joke %> 
    </h3>
	<img src= "https://media.giphy.com/media/4M4LzMbq9sGBO/giphy.gif"></img>
</body>
</html>